<div class="flex items-center">
  <div class="flex-shrink-0">
    <span
      class="bg-legio-gold-400 shadow-lg shadow-legio-gold-500/50 inline-flex h-{{
        size
      }} w-{{ size }} items-center justify-center rounded-full"
    >
      <span class="text font-medium leading-none text-white">{{
        user | slice: 0:2 | uppercase
      }}</span>
    </span>
  </div>
  <div class="ml-3" *ngIf="showName">
    <div class="text-{{ textSize }} font-medium text-gray-200 tracking-wider">
      {{ user | titlecase }}
    </div>
  </div>
</div>
