<golden-page-header
  [currentCrumb]="{
    label: 'Dashboard',
    svgPath: [
      'M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'
    ],
    routerLink: '/dashboard'
  }"
></golden-page-header>

<div class="m-2 md:m-10 h-full pb-4" *ngIf="user$ | async as user">
  <!-- <app-profile-progress [userData]="user"></app-profile-progress> -->

  <div
    class="flex justify-center md:justify-between flex-wrap md:space-x-2 flex-col md:flex-row mt-10"
  >
    <div
      class="md:w-72 animate__fadeInLeft animate__animated"
      *ngIf="currentOrder$ | async as currentOrder"
    >
      <app-current-order-widget
        [currentOrder]="currentOrder"
        [isAdmin]="'admin' === user.role"
      ></app-current-order-widget>
    </div>
  </div>
</div>
