<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      class="mx-auto h-12 w-auto"
      src="assets/logo.png"
      alt="Golden Italia"
    />
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Reimposta password
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <golden-tailwind-input
          [parent]="form"
          label="Nuova password"
          name="password"
          type="password"
          class="border-none"
          [showToggleEye]="true"
          [validationErrors]="{
            required: 'Password obbligatoria',
            minlength: 'Deve contenere almeno 6 caratteri',
            maxlength: 'Deve contenere al massimo 20 caratteri'
          }"
        ></golden-tailwind-input>

        <golden-tailwind-input
          [parent]="form"
          label="Conferma nuova password"
          name="passwordConfirm"
          type="password"
          class="border-none"
          [showToggleEye]="true"
          [validationErrors]="{
            required: 'Conferma password obbligatoria',
            matching: 'Le password non corrispondono'
          }"
        ></golden-tailwind-input>

        <div class="mt-5">
          <golden-tailwind-submit-button
            label="Salva"
            [invalid]="form.invalid"
            [loading]="loading"
          ></golden-tailwind-submit-button>
        </div>
      </form>
    </div>
  </div>
</div>
