<golden-page-header
  headerText="Documenti Legio"
  [currentCrumb]="{
    label: 'Documenti Legio',
    svgPath: [
      'M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'
    ],
    routerLink: '/documents'
  }"
></golden-page-header>

<div class="m-10 p-4 flex justify-around flex-wrap space-y-6 md:space-y-0">
  <app-document-card
    *ngFor="let document of documents"
    [document]="document"
  ></app-document-card>
</div>
