<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      class="mx-auto h-12 w-auto"
      src="assets/logo.png"
      alt="Golden Italia"
    />
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Hai bisogno di aiuto per la password?
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Inserisci l'indirizzo email che usi e ti aiuteremo a creare una nuova
      password.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <golden-tailwind-input
          [parent]="form"
          label="Email"
          name="email"
          type="email"
          placeholder="tuaemail@email.it"
          class="border-none"
          [validationErrors]="{
            required: 'Email obbligatoria',
            email: 'Email non valida'
          }"
        ></golden-tailwind-input>

        <golden-back-to-login-button></golden-back-to-login-button>

        <golden-tailwind-submit-button
          label="Recupera password"
          [invalid]="form.invalid"
          [loading]="loading"
        ></golden-tailwind-submit-button>
      </form>
    </div>
  </div>
</div>
