<div
  #contextMenuWrapper
  id="contextmenu-wrapper"
  [style.top.px]="yPos > screenSize.height / 1 ? yPos - cmSize.height : yPos"
  [style.left.px]="xPos > screenSize.width / 1.5 ? xPos - cmSize.width : xPos"
  [class.text-right]="xPos > screenSize.width / 1.5"
  class="lg:2/12 absolute z-10 w-6/12 max-w-fit rounded-lg p-2 shadow-lg backdrop-blur-lg md:w-3/12"
>
  <div class="text-start">
    <h1
      class="p-2 font-bold text-gray-600"
      [innerHTML]="contextMenuLabel || 'Azioni Rapide'"
    ></h1>
  </div>
  <div class="mt-2 w-full px-2" id="contextmenu-loop-wrapper">
    <ng-container *ngFor="let action of options.actions">
      <a
        class="flex w-full space-x-2 h-full"
        [attr.href]="action.routingData.href"
        [target]="action.routingData.routerLink ? '_self' : '_blank'"
      >
        <button
          id="contextmenu-loop"
          [disabled]="action.isDisabled"
          [class.pointer-events-none]="action.isDisabled"
          class="text-start w-full cursor-pointer space-x-2 rounded-lg align-text-bottom text-xs font-semibold text-gray-700 hover:bg-app-color-300 hover:text-white disabled:text-gray-400 md:text-sm"
        >
          <div
            [routerLink]="action.routingData.routerLink"
            [queryParams]="action.routingData.queryParams"
            class="w-full flex h-full space-x-2 text-start px-4 py-3"
            [class.flex-row-reverse]="xPos > screenSize.width / 1.5"
            [class.space-x-reverse]="xPos > screenSize.width / 1.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 md:h-5 md:w-5 ml-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                [attr.d]="action.svgPath || 'M9 5l7 7-7 7'"
              />
            </svg>

            {{ action.label }}
          </div>
        </button>
      </a>
    </ng-container>
  </div>
</div>
