<golden-page-header
  headerText="Dashboard ordini"
  [currentCrub]="{
    label: 'Dashboard Ordini',
    svgPath: [
      'M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z'
    ],
    routerLink: '/orders/dashboard'
  }"
></golden-page-header>

<div class="flex justify-center w-full" *ngIf="loading">
  <golden-tailwind-loading label="Carico ordini"></golden-tailwind-loading>
</div>

<ng-container *ngIf="currentOrder$ | async as currentOrder">
  {{ assignInitialActiveOrder(currentOrder) }}
  <ng-container *ngIf="pastOrders$ | async as pastOrders">
    <div class="m-2 md:m-10">
      <div class="flex space-x-4 w-full overflow-x-scroll p-5">
        <button
          *ngIf="currentOrder.no_order"
          class="rounded-lg p-2 font-medium text-sm bg-legio-green-400 hover:bg-legio-green-300 text-white flex items-center space-x-2 uppercase px-6"
          routerLink="/orders/add"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="text-xs">Aggiungi Ordine</span>
        </button>

        <ng-container
          *ngFor="let pastOrder of pastOrders"
          [ngTemplateOutlet]="orderCard"
          [ngTemplateOutletContext]="{ currentOrder: pastOrder }"
        ></ng-container>
      </div>
      <div
        class="flex justify-center md:justify-between flex-wrap p-2 py-4 md:space-x-4 space-y-4 md:space-y-0"
      >
        <div class="w-10/12 md:w-72">
          <app-order-action
            [currentOrder]="activeOrder"
            (handleAction)="onActionSelected($event)"
          ></app-order-action>
        </div>
        <div class="w-full md:w-6/12">
          <app-items-list-widget
            [orderItems]="(activeOrder?.items | slice: 0:4) || []"
          ></app-items-list-widget>
        </div>
        <div class="h-full md:w-72 w-full">
          <app-order-info [currentOrder]="activeOrder"></app-order-info>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #orderCard let-currentOrder="currentOrder">
  <div
    [ngClass]="
      currentOrder._id === activeOrder?._id
        ? 'bg-legio-green-400 text-white pointer-events-none ring ring-legio-gold-400 '
        : 'text-gray-500 bg-white'
    "
    class="p-2 rounded-lg shadow hover:bg-gray-200 cursor-pointer px-6"
    (click)="
      activeOrder === currentOrder
        ? (activeOrder = undefined)
        : (activeOrder = currentOrder)
    "
  >
    <div class="flex flex-col justify-center">
      <h1 class="text font-bold tracking-wider uppercase text-center space-x-2">
        <span> #{{ currentOrder.orderPublicId }}</span>
      </h1>
    </div>
    <div class="flex justify-center">
      <app-order-status-badge
        [status]="currentOrder.orderStatus"
      ></app-order-status-badge>
    </div>
  </div>
</ng-template>
