<app-mximized-loading *ngIf="loading"></app-mximized-loading>

<div class="absolute bg-white rounded-lg shadow border" *ngIf="!loading">
  <div class="p-2 divide-y space-y-1">
    <div *ngFor="let user of currentGroup">
      <div
        class="hover:bg-gray-200 cursor-pointer rounded-lg p-2 my-1"
        (click)="onAccountSelected(user._id)"
      >
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>

    <div>
      <div
        class="flex space-x-2 text-slate-600 flex-nowrap whitespace-nowrap hover:bg-gray-200 p-2 rounded-lg cursor-pointer font-medium my-1 justify-center"
        routerLink="/users/link"
        routerLinkActive="pointer-events-none"
        (click)="cardsVisibility.emit(false)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 h-6 w-6"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
            clip-rule="evenodd"
          />
        </svg>

        <p>Associa account</p>
      </div>
    </div>
  </div>
</div>
