<div class="grid">
  <div
    class="bg-white text-xs font-medium text-gray-400 space-y-2 px-2 rounded-lg py-4 border divide-y shadow-lg w-full"
    *ngIf="currentOrder"
  >
    <div class="flex justify-between pt-2" *ngIf="!hideItems.includes('id')">
      <span>ID ORDINE</span>
      <span>#{{ currentOrder.orderPublicId }}</span>
    </div>
    <div
      class="flex justify-between pt-2"
      *ngIf="!hideItems.includes('status')"
    >
      <span class="mt-1">STATO</span>
      <app-order-status-badge
        [status]="currentOrder.orderStatus"
      ></app-order-status-badge>
    </div>
    <div
      class="flex justify-between pt-2"
      *ngIf="!hideItems.includes('startDate')"
    >
      <span class="mt-1">DATA INIZIO</span>
      <span class="mt-1">
        {{ currentOrder.startDate | date: "dd/MM/yyyy" }}
      </span>
    </div>
    <div
      class="flex justify-between pt-2"
      *ngIf="!hideItems.includes('endDate')"
    >
      <span class="mt-1">DATA SCADENZA</span>
      <span class="mt-1">
        {{ currentOrder.dueDate | date: "dd/MM/yyyy" }}
      </span>
    </div>
    <div class="flex justify-between pt-2" *ngIf="!hideItems.includes('shops')">
      <span class="mt-1">NEGOZI</span>
      <span class="mt-1 uppercase space-y-1 text-xs"
        ><p
          *ngFor="let shop of currentOrder.shops"
          class="bg-legio-green-200 px-1 rounded text-white"
        >
          {{ shop }}
        </p></span
      >
    </div>
    <div class="flex justify-between pt-2">
      <span class="mt-1">OGGETTI CONFERMATI</span>
      <span class="mt-1">
        {{ getTotalQuantity(currentOrder.items) }}
      </span>
    </div>
    <div
      class="flex justify-between pt-2"
      [class.text-yellow-500]="
        getPriceToPay(currentOrder.items, 'pending-payment') > 0
      "
    >
      <span class="mt-1">NON PAGATO</span>
      <span class="mt-1">
        {{
          getPriceToPay(currentOrder.items, "pending-payment") | currency: "€"
        }}</span
      >
    </div>
    <div class="flex justify-between pt-2">
      <span class="mt-1">PAGATO</span>
      <span class="mt-1">
        {{
          getPriceToPay(currentOrder.items, "confirmed") | currency: "€"
        }}</span
      >
    </div>
    <div class="flex justify-between pt-2">
      <span class="mt-1">TOTALE CONFERMATO</span>
      <span class="mt-1">
        {{
          getPriceToPay(currentOrder.items, "confirmed") +
            getPriceToPay(currentOrder.items, "pending-payment") | currency: "€"
        }}</span
      >
    </div>
    <div
      class="flex justify-between pt-2"
      *ngIf="!hideItems.includes('orderNotes')"
    >
      <span class="mt-1">NOTE ORDINE</span>
      <span class="mt-1 whitespace-nowrap px-2">
        {{ currentOrder.orderNotes || "/" }}</span
      >
    </div>
    <div class="flex justify-between pt-2">
      <span class="mt-1">TRACKING</span>
      <span class="mt-1 uppercase space-y-1 text-xs"
        ><p
          *ngFor="let tracking of currentOrder.orderTrackingNumbers"
          class="bg-legio-green-200 px-1 rounded text-white cursor-pointer transition-all duration-150 hover:scale-105"
          (click)="activeTracking = $any(tracking)"
        >
          {{ $any(tracking).trackingNumber }}
        </p>
        <p
          class="whitespace-nowrap px-2"
          *ngIf="!currentOrder?.orderTrackingNumbers?.length"
        >
          /
        </p></span
      >
    </div>
  </div>
  <div
    class="p-2 rounded-lg bg-white fixed"
    [hidden]="!activeTracking"
    *ngIf="apiLoaded | async"
  ></div>
</div>
