<golden-page-header
  headerText="Ordine in corso"
  [currentCrub]="{
    label: 'Ordine in corso',
    svgPath: [
      'M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z'
    ],
    routerLink: '/orders/current'
  }"
></golden-page-header>

<golden-tailwind-loading *ngIf="loading"></golden-tailwind-loading>

<div class="mx-2 mt-2 md:m-10">
  <app-order-instructions
    title="Regole sugli ordini di grupppo"
    [body]="orderInstructionsBody"
  ></app-order-instructions>
</div>

<ng-container *ngIf="currentOrder$ | async as currentOrder">
  <div class="md:m-10 flex justify-center">
    <div class="m-2 md:mx-10 w-10/12 lg:w-full">
      <div class="flex flex-col-reverse md:flex-row md:justify-between">
        <div class="flex justify-center md:w-8/12 md:border-r-2 md:pr-4">
          <div class="space-y-4 w-full">
            <button
              routerLink="/orders/items/add"
              [disabled]="isLastOrderWeek(currentOrder.dueDate)"
              class="rounded-lg shadow my-2 py-2 px-4 bg-legio-green-400 text-white hover:bg-legio-green-300 text-sm flex w-full justify-center disabled:pointer-events-none disabled:bg-gray-200 disabled:shadow-none disabled:text-slate-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 mr-1"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                  clip-rule="evenodd"
                />
              </svg>
              Aggiungi un oggetto all'ordine
            </button>
            <div class="md:overflow-y-scroll space-y-4 max-h-screen w-full">
              <div
                class="shadow w-full sm:border-b"
                *ngFor="let item of currentOrder.items"
              >
                <app-order-item-card
                  [item]="item"
                  (removeItem)="removeItem(item._id)"
                  [hideElements]="
                    'pending-confirmation' === item.itemStatus
                      ? []
                      : ['removeItem']
                  "
                ></app-order-item-card>
              </div>
            </div>
          </div>
        </div>
        <div class="md:w-4/12 md:mx-4 my-4 md:my-0">
          <app-order-summary
            [items]="currentOrder.items"
            [currentOrder]="currentOrder"
          ></app-order-summary>
        </div>
      </div>
    </div>
  </div>
</ng-container>
