<golden-page-header
  [currentCrumb]="{
    label: 'Compara ' + orderId + ' con ' + shop,
    routerLink: '/orders/dashboard/compare',
    routerLinkParams: { order: orderId, shop: shop },
    svgPath: [
      'M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z'
    ]
  }"
></golden-page-header>

<ng-container *ngIf="order$ | async as order">
  <div class="m-2 md:m-10">
    <div
      class="bg-white rounded-lg text-slate-600 p-2 font-medium shadow mb-1 flex justify-between my-4 border-b"
    >
      <a
        [href]="
          'taiwangun' === shop
            ? 'https://www.taiwangun.com/user_carts/index/language:eng'
            : 'https://www.ilsemaforo-softair.com/it/cart/'
        "
        target="_blank"
        class="hover:text-legio-gold-400 transition-all cursor-pointer flex space-x-2"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
          /></svg
        ><span> Carrello {{ shop | titlecase }}</span>
      </a>
      <div class="text-right">
        <span class="border-r px-2">Totale </span>
        <span class="px-2 text-legio-gold">
          {{ getTotal(order.items || []) | currency: "€" }}</span
        >
      </div>
    </div>

    <ul
      class="space-y-2 p-4 my-4 border-t"
      dndDropzone
      (dndDrop)="onDrop($event)"
      (dndDragover)="onDrop($event)"
      [dndEffectAllowed]="'move'"
    >
      <li *ngFor="let item of order.items" class="shadow-md rounded-lg">
        <app-order-item-card
          [hideElements]="['itemStatus', 'removeItem']"
          [item]="item"
          [disableDnd]="true"
          (checkedChanged)="toggleChecked(item, $event)"
        ></app-order-item-card>
      </li>

      <div
        class="bg-white p-2 rounded-lg shadow-md text-center"
        *ngIf="!order.items?.length"
      >
        Nessun oggetto disponibile per la comparazione
      </div>
    </ul>
  </div>
</ng-container>
