<span
  class="rounded-full px-2 py-1 inline-flex space-x-1 md:mx-2 text-sm flex-nowrap whitespace-nowrap"
  [ngClass]="{
    'text-green-500 bg-green-200': itemStatus === 'confirmed',
    'text-red-400 bg-red-200': itemStatus === 'cancelled',
    'text-yellow-500 bg-yellow-200': itemStatus === 'pending-payment',
    'text-legio-green-500 bg-legio-green-200':
      itemStatus === 'pending-confirmation'
  }"
>
  <svg
    class="flex-shrink-0 h-5 w-5"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      *ngIf="'confirmed' === itemStatus"
      fill-rule="evenodd"
      d="
          M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z
        "
      clip-rule="evenodd"
    />

    <path
      *ngIf="'pending-payment' === itemStatus"
      fill-rule="evenodd"
      d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
      clip-rule="evenodd"
    />
    <path
      *ngIf="'cancelled' === itemStatus"
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
      clip-rule="evenodd"
    />
    <path
      *ngIf="'pending-confirmation' === itemStatus"
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
      clip-rule="evenodd"
    />
  </svg>
  <p class="flex flex-nowrap">
    <span *ngIf="'cancelled' === itemStatus">Annullato</span>
    <span *ngIf="'pending-payment' === itemStatus" class="whitespace-nowrap"
      >Non pagato</span
    >
    <span *ngIf="'confirmed' === itemStatus">Pagato</span>
    <span *ngIf="'pending-confirmation' === itemStatus">Da confermare</span>
  </p>
</span>
