<golden-page-header
  [currentCrumb]="{
    label: 'Modifica Ordine di gruppo',
    svgPath: [
      'M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z'
    ],
    routerLink: '/orders/add'
  }"
></golden-page-header>

<div
  class="m-10 rounded-lg shadow"
  *ngIf="currentOrder$ | async as currentOrder"
>
  <ng-container *ngIf="staticItems$ | async as staticItems">
    <div class="flex w-full overflow-x-scroll">
      <app-static-item-card
        class="m-2"
        *ngFor="let item of staticItems"
        cardState="selectable"
        [item]="item"
        (toggleSelected)="handleSelectStaticItem(item._id)"
        [isSelected]="selectedStaticItems.includes(item._id)"
      ></app-static-item-card>
    </div>
  </ng-container>
  <app-order-form
    (submitted)="onSubmit($event, currentOrder._id)"
    [loading]="loading"
    [orderData]="currentOrder"
  ></app-order-form>
</div>
