<ng-container *ngIf="tracker$ | async as tracker">
  <golden-page-header
    [currentCrub]="{
      label: 'Tracking ' + tracker.trackingNumber,
      routerLink: '/orders/track',
      routerLinkParams: { t: trackerId },
      svgPath: [
        'M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0'
      ]
    }"
  ></golden-page-header>

  <div class="m-2 md:m-10">
    <h1
      class="text-lg my-2 p-2 bg-slate-200 max-w-fit rounded-lg font-medium text-gray-600 transition-all cursor-pointer hover:bg-blue-300 hover:text-white"
      [class.pointer-events-none]="!tracker.courierTrackingUrl"
    >
      <a
        [href]="tracker.courierTrackingUrl"
        target="_blank"
        class="flex space-x-2"
      >
        <span>{{ tracker.trackingNumber }}</span>
        <svg
          *ngIf="tracker.courierTrackingUrl"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 my-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
          /></svg
      ></a>
    </h1>
    <div class="flex justify-between flex-wrap flex-col-reverse md:flex-row">
      <div class="overflow-y-scroll md:w-3/12 h-screen">
        <app-timeline
          class="my-4 md:my-0"
          [steps]="mapTrackerCheckpoints(tracker.checkpoints)"
        ></app-timeline>
      </div>

      <ng-container *ngIf="tracker.checkpoints.length">
        <app-google-map
          *ngIf="parseLocation(tracker.checkpoints) as mapData"
          class="h-96 w-full md:w-8/12"
          mapClass="rounded-lg w-full h-full shadow-lg border-2"
          [destination]="mapData.destination"
          [waypoints]="mapData.waypoints"
          [origin]="mapData.origin"
        ></app-google-map>
      </ng-container>
    </div>
  </div>
</ng-container>
