<div>
  <ngx-dropzone
    (change)="onSelect($event); onSubmit()"
    [multiple]="false"
    class="lg:w-8/12 z-0 hover:bg-gray-100"
    [disabled]="loading"
  >
    <ngx-dropzone-label
      ><div class="flex w-full font-medium text-slate-600 transition-all">
        <div class="flex flex-col justify-center mx-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            class="w-12 h-12"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15"
            />
          </svg>
        </div>

        <div class="text-justify p-4 md:p-0">
          <p>Fai click per caricare un file</p>
          <p>oppure trascinalo all'interno di questo riquadro.</p>
        </div>
      </div></ngx-dropzone-label
    >

    <ngx-dropzone-preview
      *ngIf="file as f"
      [removable]="true"
      (removed)="onRemove()"
    >
      <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>

<!-- <ng-container *ngIf="uploadLogs$ | async as uploadLogs">
  <pre>{{ uploadLogs | json }}</pre>
</ng-container> -->
