<golden-page-header
  [currentCrub]="{
    label: 'Lista Oggetti',
    svgPath: [
      'M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z'
    ],
    routerLink: '/orders/dashboard/items'
  }"
></golden-page-header>

<div class="m-2 md:m-10">
  <golden-tailwind-loading *ngIf="loading"></golden-tailwind-loading>
  <ng-container *ngIf="filteredOrder$ | async as activeOrder">
    <div class="flex mb-4 justify-center">
      <div class="w-full">
        <div>
          <label for="search-field" class="text-sm font-medium"
            >Cerca tra gli oggetti</label
          >
        </div>
        <input
          class="w-full rounded-lg border-none p-2 text-sm font-medium shadow focus:ring-2"
          placeholder="es. Smith, Caricatore..."
          [formControl]="searchField"
          id="search-field"
          type="text"
        />
      </div>
      <div class="flex flex-col justify-end">
        <app-filter
          (filterChange)="searchField.setValue($event)"
          class="mx-2"
          [filters]="[
            {
              label: 'Nessun filtro',
              value: '',
              svgPath:
                'M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z'
            },
            {
              label: 'Non Pagato',
              value: 'pending-payment',
              svgPath: statusEnum.pendingPaymentIn
            },
            {
              label: 'Da confermare',
              value: 'pending-confirmation',
              svgPath: statusEnum.pendingConfirmationIn
            },
            {
              label: 'Pagato',
              value: 'confirmed',
              svgPath: statusEnum.confirmedIn
            },
            {
              label: 'Annullato',
              value: 'cancelled',
              svgPath: statusEnum.cancelledIn
            }
          ]"
        ></app-filter>
      </div>
      <div class="flex flex-col justify-end">
        <button
          class="p-2 rounded-lg flex text-sm whitespace-nowrap shadow space-x-1"
          [ngClass]="
            ignoreDropdown
              ? 'bg-slate-600 text-white'
              : 'text-slate-600 bg-white hover:bg-slate-100 hover:text-slate-600'
          "
          (click)="ignoreDropdown = !ignoreDropdown"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 01-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 110-2h4a1 1 0 011 1v4a1 1 0 11-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 112 0v1.586l2.293-2.293a1 1 0 011.414 1.414L6.414 15H8a1 1 0 110 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 110-2h1.586l-2.293-2.293a1 1 0 011.414-1.414L15 13.586V12a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Espandi</span>
        </button>
      </div>
    </div>
    <div class="space-y-4 divide-y">
      <div *ngFor="let group of groupItemsByUser(activeOrder)">
        <div
          class="rounded-lg hover:bg-slate-200 max-w-fit p-2 cursor-pointer m-2"
          (click)="handleShowDropdown(group.user)"
        >
          <h1
            class="text-xl font-medium tracking-wider"
            [innerHTML]="group.user | titlecase | highlight: searchField.value"
          ></h1>
          <div class="flex flex-col text-gray-400">
            <small class="mb-1">{{ group.items.length }} Oggetti</small>
            <small>
              {{ group.notConfirmed | currency: "€" }} Non confermati</small
            >
            <small>{{ group.total | currency: "€" }} Totale confermato</small>
            <small [class.text-yellow-600]="group.notPayed > 0">
              {{ group.notPayed | currency: "€" }} Non pagato</small
            >
          </div>
        </div>
        <div
          class="bg-white rounded-lg shadow p-4 text-sm w-auto md:space-x-2 my-1"
          *ngIf="
            showDropdowns.includes(group.user) ||
            searchField.value.length ||
            ignoreDropdown
          "
        >
          <div class="md:p-3">
            <div class="overflow-scroll">
              <table class="table-auto w-full">
                <thead
                  class="text-xs font-semibold uppercase text-gray-400 bg-gray-50"
                >
                  <tr>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Oggetto</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Aggiunto il</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Stato</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Disponibile</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-left">Importo</div>
                    </th>
                    <th>
                      <div class="font-semibold text-left hidden md:block">
                        Negozio
                      </div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                      <div class="font-semibold text-center"></div>
                    </th>
                  </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                  <tr *ngFor="let item of group.items; let i = index">
                    <td class="p-2">
                      <div class="flex items-center my-2">
                        <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                          <img
                            class="rounded-lg shadow transition-all ease-in hover:scale-125 cursor-zoom-in duration-300 delay-75 p-1"
                            [src]="item.imgSrc"
                            width="40"
                            height="40"
                            (click)="open(i, group.items)"
                          />
                        </div>
                        <div
                          class="font-medium text-slate-600 text-xs flex-wrap w-96"
                          [innerHTML]="
                            item.itemName | highlight: searchField.value
                          "
                        ></div>
                      </div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                      <div class="text-left font-semibold text-slate-500">
                        {{ item.createdAt | date: "dd/MM/yyyy HH:mm" }}
                      </div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                      <app-item-status-badge
                        [itemStatus]="item.itemStatus"
                      ></app-item-status-badge>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                      <div
                        class="flex justify-center"
                        [ngClass]="
                          item.isUnavailable ? 'text-red-500' : 'text-green-500'
                        "
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                        >
                          <path
                            *ngIf="item.isUnavailable"
                            d="M12 19.5c0-3.59 2.91-6.5 6.5-6.5l.5.025v-7.025h-5v-2c0-2.209-1.791-4-4-4s-4 1.791-4 4v2h-5v18h12.816c-1.123-1.168-1.816-2.752-1.816-4.5zm-5-15.5c0-1.654 1.346-3 3-3s3 1.346 3 3v2h-6v-2zm-4 4h3v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h6v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h3v4h-14v-4zm20 11.5c0 2.485-2.017 4.5-4.5 4.5s-4.5-2.015-4.5-4.5 2.017-4.5 4.5-4.5 4.5 2.015 4.5 4.5zm-3.086-2.122l-1.414 1.414-1.414-1.414-.707.708 1.414 1.414-1.414 1.414.707.708 1.414-1.414 1.414 1.414.708-.708-1.414-1.414 1.414-1.414-.708-.708z"
                          />
                          <path
                            *ngIf="!item.isUnavailable"
                            d="M12.5 22h-9.5v-14h3v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h6v1.5c0 .276.224.5.5.5s.5-.224.5-.5v-1.5h3v5.181c.482-.114.982-.181 1.5-.181l.5.025v-7.025h-5v-2c0-2.209-1.791-4-4-4s-4 1.791-4 4v2h-5v18h12.816c-.553-.576-1.004-1.251-1.316-2zm-5.5-18c0-1.654 1.346-3 3-3s3 1.346 3 3v2h-6v-2zm11.5 11c-2.486 0-4.5 2.015-4.5 4.5s2.014 4.5 4.5 4.5c2.484 0 4.5-2.015 4.5-4.5s-2.016-4.5-4.5-4.5zm-.469 6.484l-1.688-1.637.695-.697.992.94 2.115-2.169.697.696-2.811 2.867z"
                          ></path>
                        </svg>
                      </div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                      <div class="text-left font-medium text-slate-600">
                        <span
                          [innerHTML]="
                            item.itemPrice
                              | currency: 'EUR'
                              | highlight: searchField.value
                          "
                        >
                        </span>
                        x
                        <span
                          [innerHTML]="
                            item.itemQuantity.toString()
                              | highlight: searchField.value
                          "
                        ></span>
                      </div>
                    </td>
                    <td
                      class="whitespace-nowrap font-semibold pr-2"
                      [ngClass]="
                        'taiwangun' === item.itemShop
                          ? 'text-legio-gold-500'
                          : 'text-red-600'
                      "
                    >
                      <div class="hidden md:block">
                        {{ item.itemShop | titlecase }}
                      </div>
                    </td>
                    <td class="p-2 whitespace-nowrap space-x-4">
                      <a [href]="item.itemUrl" target="_blank">
                        <button
                          class="text-lg text-center text-blue-400 hover:text-blue-200"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
                            />
                          </svg>
                        </button>
                      </a>

                      <button
                        class="text-lg text-center text-gray-500 hover:text-gray-600"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                          />
                        </svg>
                      </button>
                      <!-- PENDING CONFIRMATION -->
                      <button
                        class="text-lg text-center text-legio-green-300 hover:text-legio-green-200 disabled:pointer-events-none disabled:text-gray-300"
                        [disabled]="
                          item.itemStatus === 'pending-confirmation' || loading
                        "
                        title="Da Confermare"
                        (click)="
                          editItemStatus(item._id, 'pending-confirmation')
                        "
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                          />
                        </svg>
                      </button>
                      <!-- PENDING PAYMENT -->
                      <button
                        class="text-lg text-center text-yellow-500 hover:text-yellow-600 disabled:pointer-events-none disabled:text-gray-300"
                        [disabled]="
                          item.itemStatus === 'pending-payment' || loading
                        "
                        title="Non Pagato"
                        (click)="editItemStatus(item._id, 'pending-payment')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                          />
                        </svg>
                      </button>
                      <!-- CONFIRMED -->
                      <button
                        class="text-lg text-center text-green-500 hover:text-green-600 disabled:pointer-events-none disabled:text-gray-300"
                        title="Confermato"
                        [disabled]="item.itemStatus === 'confirmed' || loading"
                        (click)="editItemStatus(item._id, 'confirmed')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                          />
                        </svg>
                      </button>
                      <!-- CANCELLED -->
                      <button
                        class="text-lg text-center text-red-500 hover:text-red-700 disabled:pointer-events-none disabled:text-gray-300"
                        [disabled]="item.itemStatus === 'cancelled' || loading"
                        title="Annullato"
                        (click)="editItemStatus(item._id, 'cancelled')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
