<div class="lg:flex bg-white rounded-lg">
  <div
    class="h-40 lg:h-full lg:w-24 bg-cover text-center overflow-hidden flex flex-col justify-center md:mx-2 rounded-lg"
  >
    <img
      [src]="itemAlt?.imgSrc || item.imgSrc"
      alt=""
      class="rounded-lg object-cover md:h-24 md:my-4"
    />
  </div>
  <div
    class="py-3 flex md:flex-col justify-between leading-normal h-fit w-full px-2"
  >
    <div class="w-full lg:mb-4">
      <div class="flex justify-between">
        <p
          class="text-sm text-gray-600 flex items-center hover:text-legio-gold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
            />
          </svg>
          <a [href]="itemAlt?.itemUrl || item.itemUrl" target="_blank"
            >{{ getHostname(itemAlt?.itemUrl || item.itemUrl || "") }}...</a
          >
        </p>
        <div class="flex flex-row space-x-2">
          <div>
            <span
              *ngIf="itemAlt?.isUnavailable || item?.isUnavailable"
              class="rounded-full px-2 py-1 inline-flex space-x-1 md:mx-2 text-sm flex-nowrap whitespace-nowrap bg-yellow-400 text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                title="Non disponibile"
                class="flex-shrink-0 h-5 w-5 text-yellow-400 bg-white rounded-full"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                />
              </svg>
              <p class="flex flex-nowrap">
                <span>Non disponibile</span>
              </p>
            </span>
          </div>
          <app-item-status-badge
            *ngIf="!hideElements?.includes('itemStatus') && !itemAlt"
            [itemStatus]="item?.itemStatus"
          ></app-item-status-badge>
        </div>
      </div>
      <div class="flex flex-col md:flex-row justify-between w-full">
        <div>
          <div class="text-gray-800 font-medium my-1 flex space-x-2">
            {{ itemAlt?.name || item?.itemName || "" | uppercase }}
          </div>
          <p class="text-gray-700 text-base">
            {{ itemAlt?.price || item?.itemPrice || 0 | currency: "€" }}/Pz.

            <ng-container *ngIf="itemQuantity > 1">
              ({{
                (itemAlt?.price || item?.itemPrice || 0) * itemQuantity
                  | currency: "€"
              }})</ng-container
            >
          </p>
          <p class="text-gray-400 text-base">
            <input
              [class.pointer-events-none]="
                !itemAlt && item?.itemStatus !== 'pending-confirmation'
              "
              type="number"
              [(ngModel)]="itemQuantity"
              (blur)="emitEdit(itemQuantity)"
              class="rounded h-6 border-none focus:ring-0 focus:border-none hover:transition-all ease-in-out delay-150 hover:-translate-t-1 hover:scale-110 duration-300 p-2 w-10"
            />
            <span> Pz.</span>
          </p>
        </div>

        <div class="flex space-x-2 md:mx-2 my-2 md:my-0">
          <!-- ADD ITEM -->

          <button
            *ngIf="itemAlt && !itemAlt.isUnavailable"
            (click)="emitAdd()"
            class="flex flex-col justify-end md:mx-2 text-gray-600 hover:text-blue-500 transition ease-in hover:-translate-y-1 hover:scale-110 duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <div
            class="flex flex-col justify-end"
            *ngIf="'confirmed' === item?.itemStatus && item?.isCollected"
          >
            <svg
              class="text-legio-gold-400"
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              fill="currentColor"
              clip-rule="evenodd"
            >
              <path
                d="M7 16.462l1.526-.723c1.792-.81 2.851-.344 4.349.232 1.716.661 2.365.883 3.077 1.164 1.278.506.688 2.177-.592 1.838-.778-.206-2.812-.795-3.38-.931-.64-.154-.93.602-.323.818 1.106.393 2.663.79 3.494 1.007.831.218 1.295-.145 1.881-.611.906-.72 2.968-2.909 2.968-2.909.842-.799 1.991-.135 1.991.72 0 .23-.083.474-.276.707-2.328 2.793-3.06 3.642-4.568 5.226-.623.655-1.342.974-2.204.974-.442 0-.922-.084-1.443-.25-1.825-.581-4.172-1.313-6.5-1.6v-5.662zm-1 6.538h-4v-8h4v8zm15-11.497l-6.5 3.468v-7.215l6.5-3.345v7.092zm-7.5-3.771v7.216l-6.458-3.445v-7.133l6.458 3.362zm-3.408-5.589l6.526 3.398-2.596 1.336-6.451-3.359 2.521-1.375zm10.381 1.415l-2.766 1.423-6.558-3.415 2.872-1.566 6.452 3.558z"
              />
            </svg>
          </div>
          <!-- REMOVE ITEM -->
          <button
            (click)="emitRemove()"
            *ngIf="!hideElements.includes('removeItem')"
            class="flex flex-col justify-end md:mx-2 text-gray-600 hover:text-red-500 transition ease-in hover:-translate-y-1 hover:scale-110 duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-col justify-end"
          *ngIf="!hideElements.includes('checked')"
        >
          <app-toggle
            [checked]="item.isChecked"
            (toggled)="checkedChanged.emit(!item.isChecked)"
            labelDirection="left"
            label="Controllato"
          ></app-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
